
/* gallery */
#albums ul {
  list-style-type: none;
  padding-left: 0;
}
#albums ul li {
  display: inline-block;
  margin: 0 55px 30px 0;
  text-align: center;
  vertical-align: top;
  width: 280px;
}
#albums ul li:nth-child(3n+3) {
  margin-right: 0;
}
#albums ul li a img {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.2s;
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
}
#albums ul li a:hover img {
  opacity: .5;
}

.album_title {
  display: block;
  color: #eeeeee;
  font-size: 1.3em;
  font-variant: small-caps;
  font-weight: bold;
}

/* galleria */
#gallery {
  line-height: 0;
  width: 100%;
  height: 600px;
  clear: both;
}
#gallery video {
  position: absolute;
  top: 10%;
  width: 100%;
  margin: 0 auto;
}
.galleria-theme-classic .galleria-info-text {
  background-color: rgba(0, 0, 0, 0.7);
}

.icons {
  top: 10px;
  right: 20px;
  padding: 5px;
  z-index: 2;
  position: absolute;
  text-align: right;
}
.icons a {
  cursor: pointer;
}
.icons img {
  opacity: .7;
}
.icons img:hover {
  opacity: .9;
}

/* Mimic .galleria-stage to use the same area for the map */
#galleria-map {
  position: absolute;
  bottom: 80px;
  left: 10px;
  top: 0;
  right: 10px;
}